.side-bar-container {
  width: 18%;
  /* position: fixed; */
  box-shadow: 5px 0 0px -2px rgba(0, 0, 0, 0.5);
  height: 100vw;
  position: fixed; /* Fixes the sidebar in place */
  top: 80px; /* Aligns the sidebar to the top of the viewport */
  left: 0;
  z-index: 1000;
}
@media (max-width: 768px) {
  .side-bar-container {
    top: 32px;
    width: 26%;
  }
}
.profile-pic {
  height: 65px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}
@media (max-width: 768px) {
  .profile-pic {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 768px) {
  .sidebar-title {
    font-size: 7px;
    margin-top: 0px;
  }
}
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-elements {
  cursor: pointer;
  margin-left: 40px;
  padding: 5px;
  width: 50%;
}
@media (max-width: 768px) {
  .sidebar-elements {
    margin-left: 8px;
    font-size: 7px;
    padding: 3px;
  }
}
.active {
  background-color: #007bff;
  color: white;
  padding: 8px;
  width: 50%;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .active {
    padding: 6px;
  }
}
