.completed {
  background-color: #f0f0f0;
  color: #333;
}

.completed-button {
  background-color: #4caf50;
  color: white;
}

@media (max-width: 768px) {
  .student-content-course-heading {
    font-size: 10px;
  }
}
