.header-container {
  width: 100vw;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 9%;
  background-color: azure;
  margin-top: 0;
  top: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header-container {
    height: 5%;
  }
}
.logo {
  width: 60px;
  height: 60px;
  mix-blend-mode: darken;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .logo {
    width: 30px;
    height: 30px;
    margin-left: 7px;
  }
}

@media (max-width: 768px) {
  .header-title {
    font-size: 11px;
  }
}
