.add-course-main-container {
  display: flex;
}
@media (max-width: 768px) {
  .add-course-main-container {
    flex-direction: column;
  }
}
.add-course-container {
  width: 80%;
  margin-left: 20%;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .add-course-container {
    margin-left: 3px;
    margin-top: 3px;
  }
}
.add-course-heading {
  font-size: "4rem";
  transition: "color 0.3s";
  margin-top: "0px";
}
@media (max-width: 768px) {
  .add-course-heading {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .add-course-name {
    font-size: 9px;
  }
}

.course-title-input {
  padding: 10px;
  /* height: 30px; */
  margin-top: 5px;
  width: 80%;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .course-title-input {
    height: 40px;
    padding: 5px;
    margin-top: 0px;
  }
}
.add-course {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: #1d4ed8;
  border-radius: 0.5rem;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 3px;
}

@media (max-width: 768px) {
  .add-course {
    padding: 5px;
    border-radius: 3px;
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  .add-course-subtitle {
    font-size: 9px;
  }
}
.add-course:hover {
  background-color: #1e40af; /* hover:bg-blue-800 */
}
