.student-enrolled-course-container {
  width: 80%;
  margin-top: 80px;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .student-enrolled-course-container {
    width: 100%;
    margin-top: 8px;
    margin-left: 3px;
  }
}

@media (max-width: 768px) {
  .enrolled-courses-heading {
    font-size: 8px;
    margin-bottom: 0px !important;
  }
}

.dashboard-container {
  width: 100%;
  /* display: flex; */
  /* flex-grow: 1; */
  /* flex-direction: column; */
}

.course-progress-container {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* height: 250px; */
  max-width: 800px;
}
@media (max-width: 768px) {
  .course-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* height: 250px; */
  }
}
/* .student-course-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;

} */
.student-course-image {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .student-course-image {
    height: 110px;
    width: 155px;
    border-radius: 5px;
    margin-right: 20px;
  }
}

.course-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .course-info {
    width: 100px;
  }
}
.course-graph {
  width: 246px;
  height: 175px;
}

@media (max-width: 768px) {
  .course-graph {
    width: 100px;
    height: 100px;
  }
}
.course-name {
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 260px;
}
@media (max-width: 768px) {
  .course-name {
    font-size: 9px;
  }
}
.progress-info {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .course-completed-para {
    font-size: 7px;
  }
}
/* .container-students-main {
  margin-left: 10%;
} */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.student-displays-dashboard {
  display: flex;
}
@media (max-width: 768px) {
  .student-displays-dashboard {
    display: block;
  }
}

.piechart {
  width: 120px !important;
  height: 200px !important;
}
.course-graph-mobile {
  display: none;
}
.course-graph {
  display: block;
}
@media (max-width: 768px) {
  .course-graph {
    display: none;
  }
  .course-graph-mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .container-students-main {
    width: 100%;
    margin-top: 3px;
  }
}
